@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap")

html {
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #292b2c;
  background-color: #fff
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	margin-bottom: .5rem;
	font-family: inherit;
	font-weight: 700;
	line-height: 1.1;
	color: inherit;
}

a {
	color: #ec407a;
	transition: all 0.2s;
}

a:hover {
	color: #FF1493;
	text-decoration: none;
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon-large {
	width: 2em;
	height: 2em;
}

.svg-icon path,
.svg-icon-large path,
.svg-icon polygon,
.svg-icon rect {
  fill: #292b2c;
}

.svg-icon circle {
  stroke: #292b2c;
  stroke-width: 1;
}

.text-lg-right {
	text-align: right;
}

/* ----- MISC ----- */

.img-fluid {
	width: 100%;
	height: 100%;
}

.object-fit-cover {
	object-fit: cover;
	object-position: center;
}

.pt-5 {
	padding-top: 15rem;
}

.p-2 {
	padding: 2.3rem;
}

.pb-2 {
	padding-bottom: 2.3rem;
}

.p-1 {
	padding: 1.6rem;
}

.pt-1 {
	padding-top: 1.6rem;
}

.pl-1 {
	padding-left: 1.6rem;
}

.pr-1 {
	padding-right: 1.6rem;
}

.px-2 {
	padding-left: 2.3rem;
	padding-right: 2.3rem;
}

.py-1 {
	padding-top: 1.3rem;
	padding-bottom: 1.3rem;
}

.m-0 {
	margin: 0;
}

.mb-0 {
	margin-bottom: 0 !important;
}

.mb-2 {
	margin-bottom: 2rem;
}

.mb-4 {
	margin-bottom: 4.6rem;
}

.mt-0 {
	margin-top: 0 !important;
}

.p-0 {
	padding: 0;
}

.m-0 {
	margin: 0 !important;
}

.my-0-5 {
	margin-top: 0.7rem;
	margin-bottom: 0.7rem;
}

.my-1 {
	margin-top: 1.3rem;
	margin-bottom: 1.3rem;
}

.my-2 {
	margin-top: 2.9rem;
	margin-bottom: 2.9rem;
}

.m-1 {
	margin: 1.6rem;
}

.mt-2 {
	margin-top: 2.3rem;
}

.mt-1 {
	margin-top: 1.6rem;
}

.mt-5 {
	margin-top: 5.4rem;
}

.mr-1 {
	margin-right: 1rem;
}

.mr-2 {
	margin-right: 2rem;
}

.d-none {
	display: none;
}

.text-center {
	text-align: center !important;
}

.text-right {
	text-align: right !important;
}

.text-md {
	font-size: 1.7rem;
}

.text-mutted {
	color: rgba(0,0,0,.44);
    font-size: 1.5rem;
    line-height: 1.4;
    font-weight: 400;
}

.d-flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.align-items-center {
	align-items: center;
}

.fixed-top {
	position: fixed;
	top: 0;
	z-index: 10;
}

.float-right {
	float: right;
}

.d-inline {
	display: inline-flex;
}

.form-control {
	display: block;
	width: 100%;
	padding: .8rem 1.4rem;
	font-size: 1.5rem;
	line-height: 1.25;
	color: #464a4c;
	background-color: #fff;
	background-image: none;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: .50rem;
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}


/* ----- Header ----- */

.nav-wrapper {
	background: #fff;
	box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);
	width: 100%;
}

.nav-brand {
	font-size: 3rem;
	margin: 0;
	padding: 0;
}

.nav-top {
	transition: ease-in 0.3s;
}

.nav-item {
	display: inline;
}

.nav-link {
	padding-right: 1.3rem;
	padding-left: 1.3rem;
	text-transform: capitalize;
	font-size: 1.5rem;
	letter-spacing: .6px;
}

.search-wrapper .form-control {
	font-size: 1.4rem;
	border-radius: 30px;
	overflow: hidden;
	border: 1px solid rgba(0,0,0,0.04);
	width: auto;
	vertical-align: middle;
}

.search-wrapper .search-icon {
	margin-left: -40px;
	margin-top: 3px;
	cursor: pointer;
	z-index: 10;
	position: relative;
	padding-right: 2rem;
}

.nav-socmed-link:hover {
	opacity: .8;
}

.dropdown {
	display: inline;
	overflow: hidden;
	position: relative;
}

.dropdown .dropbtn {
	border: none;
	outline: none;
	background-color: inherit;
	margin: 0;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #fff;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	left: 1.3rem;
	margin-top: 1.4rem;
}

.dropdown-content a {
	float: none;
	color: #ec407a;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	border-bottom: 1px solid rgba(0,0,0,.125);
	font-size: 1.4rem;
	text-transform: capitalize;
}

.dropdown-content a:hover {
	background-color: #f9f9f9;
	color: black;
}

.dropdown:hover .dropdown-content {
	display: block;	
}

.arrow {
	border: solid #ec407a;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 2px;
}

.down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.nav-dropdown {
	margin-bottom: .3rem;
	margin-left: .2rem;
}

.nav-burger {
	margin-top: .4rem;
}

/* ----- Section ----- */

.section-title h2 {
    border-bottom: 1px solid rgba(0,0,0,.15);
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 27px;
}

.section-title span {
    border-bottom: 1px solid rgba(0,0,0,.44);
    display: inline-block;
    padding-bottom: 20px;
    margin-bottom: -1px;
}

.all-posts {
	padding-bottom: 4rem;
}

/* --- Sidebar --- */

.sidebar {
	position: fixed;
	height: 100vh;
	background: white;
	width: 300px;
	margin-left: -300px;
	z-index: 1010;
	top: 0;
	left: 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.sidebar ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.sidebar ul li a {
	color: #19191a;
	font-size: 15px;
}

.sidebar ul li {
	padding: 15px 20px;
	border-bottom: 1px solid #eee;
}

.sidebar-logo {
	padding: 5px 20px;
	border-bottom: 1px solid #eee;
}

.sidebar-logo img {
	width: 60%;
	margin: 0;
	padding: 0;
}

.sidebar-logo h3 {
	margin: 10px;
	color: #ff0048;
	font-size: 23px;
	text-align: center;
	display: inline-block;
}

.sidebar-logo .ion-arrow-left-c {
	font-size: 20px;
	cursor: pointer;
}

.sidebar ul li form {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sidebar ul li form .form-control {
	width: 100%;
	padding: 11px 14px;
	border: 1px solid #d6ddcc;
	border-radius: 4px;
}

.sidebar .btn-comment.on-search {
	border-radius: 0 .50rem .50rem 0;
	margin-left: -6px;
	padding: 6px 10px
}

.sidebar .sub-sidebar-link {
	padding: 7px
}

.sidebar .sub-sidebar-link a {
	font-size: 14px;
}

.sidebar .close {
	width: 1.2em;
	height: 1.8em;
	cursor: pointer;
}

.sidebar-overlay {
	background: rgba(0, 0, 0, 0.73);
	width: 100%;
	height: 100vh;
	z-index: 1009;
	position: fixed;
	display: none;
	top: 0;
}

.collapsible {
	cursor: pointer;
}

.collapsible:after {
	content: '\002B';
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

.collapsible-content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f9f9f9;
}

.collapsible-active:after {
  content: "\2212";
}

/* ----- Card ----- */

.card {
	width: 100%;
	height: 100%;
	margin-bottom: 20px;
	border-radius: 4px;
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	background-color: #fff;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
	padding-bottom: 4rem;
}

.card-block {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-img {
	width: 100%;
	height: 260px;
}

.card h2.card-title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: .75rem;
}

.card h2.card-title a {
	color: rgba(0,0,0,.8);
}

.card h4.card-text {
    color: rgba(0,0,0,.44);
    font-size: 1.5rem;
    line-height: 1.4;
    font-weight: 400;
}

.card .col-footer {
	font-size: 12px;
	margin-top: 30px;
}

.card-title a:hover {
	opacity: .8;
}

.card-footer {
	position: absolute;
	width: 100%;	
	bottom: 0;
	left: 0;
	padding: 20px 15px;
}

.author-thumb {
	width: 40px;
	height: 40px;
	float: left;
	margin-right: 13px;
	border-radius: 100%;
}

span.author-meta {
    display: inline-block;
}

.author-meta {
    flex: 1 1 auto;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
}

span.post-read-more {
	align-items: center;
	display: inline-block;
	float: right;
	margin-top: 8px;
}

.dot::after {
    content: "·";
    margin-left: 3px;
    margin-right: 3px;
}

span.post-name a, span.post-read-more a:hover {
    color: rgba(0,0,0,.8);
}

span.post-date, span.post-category {
    color: rgba(0,0,0,.44);
}

span.post-name, span.post-date, span.author-meta {
    display: inline-block;
}

/* ----- Pagination ----- */

.pagination span.navigation {
    display: block;
    font-size: 1.5rem;
    padding: 15px 0;
    text-align: center;
    margin-bottom: 0;
    margin-top: 20px;
    color: #292929;
    border-top: 1px solid #ddd;
    border-radius: 0;
}

.pagination span.navigation li {
	display: inline-block;
	list-style: none;
	margin: 0 2px;
	padding: 0 20px;
	border-radius: 2px;
	font-size: 14px;
	position: relative;
	color: #999;
}

.pagination span.navigation li a.active {
	color: #111;
	font-weight: 700;
}

li.disabled,
li.disabled a {
	cursor: not-allowed;
}

.pagination span.navigation a,
.pagination span.navigation a svg {
	color: #999;
	fill: #999;
}

.pagination span.navigation li a.active::after { 
	content: "";
	background-color: #111;
	height: 1px;
	position: absolute;
	top: -17px;
	left: 0;
	right: 0;
}


/* ----- Single ----- */

.author-thumb-large {
	width: 80px;
	height: 80px;
}

.single-content-title .title {
	font-weight: bold;
}

.single-content .content {
    font-family: Merriweather;
    font-size: 2.1rem;
    line-height: 1.6;
    color: rgba(0,0,0,.8);
}

.single-content .content blockquote {
	border-left: 4px solid #ec407a;
	padding: 0 20px;
	font-style: italic;
	color: rgba(0,0,0,.5);
	margin: 0 0 1.5rem 0;
}

.single-content .content figcaption {
	text-align: center;
	background-color: #fff;
}

.tags {
	margin: 0;
	padding: 0;
	list-style: none;
}

.tags li {
	display: inline-block;
	font-size: 1.5rem;
	margin-right: 4px;
}

.tags li:hover a {
	background: rgba(0,0,0,.07);
}

.tags li a {
	background: rgba(0,0,0,.05);
	color: rgba(0,0,0,.6);
	border-radius: 3px;
	padding: 5px 10px;
}

.single-content .featured-content {
	background: #f999
}

.next-prev {
	width: 100%;
	display: table;
	border-top: 1px solid rgba(0,0,0,.125);
	border-bottom: 1px solid rgba(0,0,0,.125);
}

.next-prev .col {
	width: 50%;
	display: table-cell;
	padding-top: 20px;
	padding-bottom: 20px;
	vertical-align: middle;
}

.next-prev .border-right {
	border-right: 1px solid rgba(0,0,0,.125);
}

.form-group {
	margin-top: 10px;
	margin-bottom: 10px;
	display: block;
}

.btn-comment {
	border-radius: .50rem;
	background-color: #ec407a;
	color: #fff;
	padding: 10px 16px;
	outline: none;
	border: none;
	transition: .4s ease-in-out;
	-webkit-transition: .4s ease-in-out;
	-moz-transition: .4s ease-in-out;
	-ms-transition: .4s ease-in-out;
	-o-transition: .4s ease-in-out;
}

.btn-comment:hover {
	background-color: #FF1493;
}

.sticky-share {
	position: -webkit-sticky;
	position: sticky;
	top: 15vh;
}

.share {
	display: block;
	text-align: center;
	z-index: 1;
}

.share, .share a, .share path {
	color: rgba(0,0,0,.44);
	fill: rgba(0,0,0,.44);
}

.share-icon {
	width: 1.9em;
}

.sep {
	height: 1px;
	width: 31px;
	background: #999;
	margin: auto;
	margin-bottom: 1.2rem;
}

/* ----- Featued ----- */

.featured {
	background-color: #fafafa;
	padding: 60px 0;
	z-index: 10;
}

/* ----- Footer ----- */

footer {
	border-top: 1px solid rgba(0,0,0,.05) !important;
	padding-top: 25px;
	padding-bottom: 25px;
	font-size: 1.3rem;
	color: rgba(0,0,0,.44);
	margin-top: 30px;
}

.list-non-style {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

footer .list-non-style li {
	margin-right: 3px;
}


@media only screen and (max-width: 767px) {
  /* For mobile phones: */
  .nav-brand {
  	font-size: 2.3rem;
  }

  .next-prev .col {
  	display: block;
	width: 100%;
  }

  .next-prev .border-right {
  	border-bottom: 1px solid rgba(0,0,0,.125);
  	border-right: none;
  }

  .next-prev {
  	text-align: center !important; 
  }

  .pt-5 {
  	padding-top: 9rem;
  }

  .author-thumb-large {
  	float: none;
  	margin: 0 auto;
  	display: block;
  }

  .btn-block-sm {
  	width: 100%;
  }

  footer {
  	text-align: center;
  }

  .list-non-style {
    display: block;
  }

  .list-non-style li {
  	margin-right: 0;
  }

  .pagination span.navigation li {
  	padding: 10px;
  	margin: 0 1px;
  }

  .d-xs-none {
  	display: none;
  }

  .d-xs-block {
  	display: block;
  }

  .mt-xs-2 {
  	margin-top: 2rem;
  }

  .text-lg-right {
		text-align: center;
	}
}

